*{
    margin: 0;
    padding: 0%;
  }
 body {
   border:solid red;
   display:flex
 }
  header {
    background-color:  rgba(0, 0, 0, 0.46);
    position: absolute;
    height: 98px;
    width: 100%;
    margin: 0 auto;
    display:flex
  }

  .fondo {
    background-repeat: no-repeat;
    display:flex;
    top:0;
    width: 100%;
  }

  .fondo img {
    height: 100%;
    width: 100%;
    opacity:30%;
  }

  main.containerBlanco {
    background-color: ivory;
    position:center;
    height: 100%;
    width: 100%;


  }
  .logo {
    text-align: center;

  }
  .logo img {
    display:block;
    position:center;
    margin-left:auto;
    margin-right: auto;
    width: 40%;
    /*height: 139px;
    left: 31px;
    top: 13px;*/
  }
  
    
  /*footer{
    border: solid green;
    position: fixed;
    background: rgba(0, 0, 0, 0.46);
    padding: 30px 20px;
    font-family: Laila;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    color: #E5E5E5;
    position: fixed; 
    height: 98px;
    width: 100%;
    
  }+/
