*{
    margin: 0;
    padding: 0;
  }

  body {
    color: black;
    font-family: 'Oxygen', sans-serif;
  }

  .alv {
    text-align: center !important;
    font-size: 50px;
    padding: 20px 0;
  }

  .container{
    background-color: rgb(30, 65, 110) !important;
  }