* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Assistant', sans-serif;
}

.contenedor {
  display: flex;
  justify-content: space-evenly;
  padding: 60px 0;
  width: 90%;
  height: 800px;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  background: #800080;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffc0cbaf, #800080af), url(img/fondo2.png);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffc0cbaf, #800080af), url(img/fondo2.png);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;

}

.titulo {
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

/*header*/

header {
  width: 100%;
  height: 400px;
  background-image: url(img/otromas.png);
  background-size: auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
}

nav {
  text-align: right;
  padding: 30px 50px 0 0;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.redes {
  display: flex;
  width: 46%;
  height: 150px;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}