*{
    margin: 0;
    padding: 0%;
  }
 body {
   border:solid red;
   flex-wrap: wrap;
 }
  header {
    background-color:  rgba(0, 0, 0, 0.46);
    position: absolute;
    height: 98px;
    width: 100%;
    margin: 0 auto;
    display:flex
  }

  .fondo: {
    background-repeat: no-repeat;
    display:flex;
    height: 98px;
    width: auto;
  }

  .fondo img {
    height: 100%;
    width: 100%;
  }

  .containerBlanco {
    background-color: ivory;

  }
  .logo {
    text-align: center;

  }
  .logo img {
    position:center;
    margin:10px;
    width: 297px;
    height: 139px;
    left: 31px;
    top: 13px;
  }
  
    
  
    
