* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Assistant', sans-serif;
}

.contenedor {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.titulo {
  color: teal;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

/*header*/

header {
  width: 100%;
  height: 600px;
  background: #800080;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffc0cbaf, #800080af), url(img/logo.png);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffc0cbaf, #800080af), url(img/logo.png);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

nav {
  text-align: right;
  padding: 30px 50px 0 0;
}
