@media (max-width:800px){ 
    .headerContainer{
        justify-content: center;
        flex-direction: column;
    }
    .logocontainer{
        margin-left: 0;
        margin-bottom: 5px; 
        width:260.5px ;
        height: 119;
    } 
    
    #logo{
        width:260.5px ;
        height: 110px;
    }
    .inputSearch{
        margin-bottom: 8px;
        margin-right: 0;
    }
    .search{
       
        width: 35px;
        height: 35px;
        margin-bottom: 5px;
    }
    .media{
        width: 40px;
        height: 40px;
        margin-right: 20px;
    }  

    .buttonMenu {        
        margin-right: 20px;
    }

    .pokemonContainer{  
        margin-top: 380px;  
    }
}
@media(max-width:755px){
    .containerPokeMenu{
        margin-left: 5px;
        width: 380px;
    }
}

@media (max-width:710px){
    .media{
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }  
    .containerPokeMenu{
        width: 300px;
    }

    .buttonMenu {   
        width: 70px;
        padding: 4px;  
        margin-right: 10px;
        font-size: 18px;
    }

    #logo{
        width: 90%;
        height: auto;
    }

    .logocontainer{
        margin: auto;
        text-align: center;
    }

    .inputSearch{
        margin: auto;
        text-align: center;
        margin-bottom: 10px;
    } 
    .about {
        width: 364px;
        height: 170px;
        font-size: 17px;
    }
    .subAbout {
        width: 364px;
        height: 146px;
    }
    .subAbout li p{
        margin-top: 5px;
        margin-left: 5px;
    }   
    .contact{
        width: 224px;
        height: 68px;
        font-size: 17px; 
    }
    .contact > li {
        height: 60px;
        width: 224px;
    }
    .subContact{
        width: 224px;
        height: 68px;
        padding-top: 1px;
    }
    .subContact > li{  

        width: 200px;
        height: 15px;
        margin-left: 11px;
    }

    .pokemonContainer{  
        max-width: 80%;
        margin-top: 370px;  
        padding-bottom: 10%;     
    }
        
    .pokemonsCard{
        max-width: 45%;
        width: 45%;
        height: 45%;              
    }

    .containerInfoCard{       
        width:540px;
        font-size: 14px;
    }

    .close{
        left: 395px; 
        font-size: 15px;
    }

    .template_nameId{
        transform: translateY(-5px);
        margin-top: 5px;
    }

    .template_image{
        transform: translateY(-5px);
    }

    .template-type{
        transform: translateY(-5px);
    }

    .template_traits{
        margin-right: 10px;
    }

    .multiWeak{
        width: 136px;
    }

    .traits{        
        width: 130px;
        bottom: 3px;   
    }

    .multipliers{
        width: 136px;    
    }

    .weaknesses{
        width: 130px; 
        bottom: 3px;       
    }

    .titleEvo{ 
        width: 276px;
    }

    .evolutions{
        width: 280px;   
    }
}
@media (max-width: 650px){
    .subButtonMenu{
        margin-top: 5px;
        width: 440px;
        height: 142px;
        padding-left: 10px;
        font-size: 15px;
    }
    .subButtonMenu li p{
        padding: 8px;
    }
    .subBtnMenu{
        width: 440px;
        height: 120px;   
    }
    #subBtnTypes > li {
        margin-top: 10px;
        margin-left: 5px;
        width:  60px;
        height: 24px;
        font-size: 15px;
    }
    #subBtnTypes  li p{
        width:  60px;
        height: 24px;

    }
    #subBtnWeak > li {
        margin-top: 10px;
        margin-left: 5px;
        width:  60px;
        height: 24px;
        font-size: 15px;
    }
    .subButtonOrder{
        width: 440px;
        padding-left: 10px;
        font-size: 15px;
        height: 65px;
    }
    #subBtnOrder >li {
        margin-top: 8px;
        margin-left: 5px;
        width:60px ;
        height:24px ;
    }
    
    #subBtnOrder{
        height: 40px;
    }
}
@media (max-width:547px){
    header{
        height: 250px;
    }
    #logo{
        width: 70%;
        height: auto;
    }

    .media{
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    .containerPokeMenu{
        display: flex;
        width: 600px;
        height: 40px;   
    }

    .iconMenu {
        display:block;
        background: url("./images/pokeball.png");
        background-size: cover;
        background-position: center;
        border: none;
        width: 40px;
        height: 40px;
        margin-left: 10px;
        cursor: pointer;
    }

    .menu {
        display: block;
        flex-direction: column;
        margin-left: 5px; 
        height: 0;
        transition: height .3s linear;
        overflow: hidden;
        cursor: pointer;       
    }

    .appear {
        height: 400px;
        width: 600px;
    }

    .buttonMenu {        
        padding: 4px;
        width: 65px;
        margin-bottom: 5px;
        margin-top: 5px;
        font-size: 16px;
        color:rgba(11, 26, 65, 0.91);
        box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
        border-radius: 6px 6px 6px 6px;
    }

    .buttonMenu:hover {
        background: #a89009;
    }

    .subButtonMenu{
        margin-top: 5px;
        width: 350px;
        height: 110px;
        padding-left: 5px;
        font-size: 13px;
    }
    .subButtonMenu li p{
        padding: 6px;
    }

    .subBtnMenu{
        width: 350px;
        height: 90px;   
    }
    #subBtnTypes > li {
        margin-top: 5px;
        margin-left: 2px;
        width:  50px;
        height: 20px;
        font-size: 13px;
    }
    #subBtnTypes  li p{
        width:  50px;
        height: 20px;
    }
    #subBtnWeak > li {
        margin-top: 5px;
        margin-left: 2px;
        width:  50px;
        height: 20px;
        font-size: 13px;
    }
    .subButtonOrder{
        width: 350px;
        padding-left: 5px;
        font-size: 13px;
        height: 53px;
    }
    #subBtnOrder >li {
        margin-top: 6px;
        margin-left: 2px;
        width: 50px ;
        height: 20px ;
    }
    .subButtonOrder li p{
        padding: 6px;
    }
    #subBtnOrder{
        height: 35px;
    }
    .about {
        width: 300px;
        height: 130px;
        font-size: 13px;
    }
    .subAbout {
        width: 300px;
        height: 110px;
    }
    .contact{
        width: 200px;
        height: 68px;
        font-size: 13px; 
    }
    .subContact{
        width: 200px;
        height: 68px;
        padding-top: 1px;
    }
    .subContact > li{  
        width: 180px;
        height: 15px;
        margin-left: 8px;
    }

    .pokemonsCard{
        max-width: 130%;
        width: 130%;
        height: 130%;              
    }

    .pokemonContainer{  
        max-width: 50%;
        margin-top: 300px; 
    }

    .inputSearch{
        display: inline-block;
        width: 180px;
        margin-right: 0;
        margin-left: 0;
    }
    
    .search {
        width: 30px;
        height: 30px;
        margin-bottom: 0;
    }

    .input {
        float: left;
        width: 180px;
    }

    footer{
        height:70px;
    }

    .containerInfoCard{
        display:flex;
        align-content: center;
        margin-top: 300px;
        border-color: 3px blue solid;
        width: 355px;
        height: 520px;
        margin-bottom: 150px;
        font-size: 15px;
    }

    .close{
        font-size: 15px;
        left: 145px;
    }

    .template_nameId{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        font-size: 10px;
        width: 309px;
        height: 25px;
        margin-right: 5px;
    }

    .template_image{
        width: 313px;
        height: 120px;
        margin-right: 5px;
    }

    .template_imagePokemon{
        width: 120px;
        height: 120px;
    }

    .template-type{
        display: flex;
        align-items: center;
        border: 2px solid blue;
        background-color: #F1CE00;
        margin-bottom: 20px;
        margin-right: 5px;
        width: 309px;
        height: 25px;
    }

    .tempTitleType{
        font-size: 18px;
    }

    .template_traits{ 
        width: 312;
        height: 108px;  
        margin-top: 0px;
    }

    .multipliers{
       width: 148px;
       height: 75px;
       border: 2px solid blue;
       justify-content: space-around;
       border-bottom: 0;
       margin-right: 2px;
       transform: translateY(-0.5px);
    }

    .traits{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 148px;
        height: 150px;
        border-right: 0;
        border: 2px solid blue;
        transform: translateX(2px);
    }

    .multiWeak{
        height: 108px;
        margin-right: 5px;
    }

    .weaknesses{
        width: 142px;
        height: 67px;
        margin-top: 1px;
        border: 2px solid blue;
        margin-right: 2px;
        transform: translateY(-1.5px);
    }

    .evolutions{
        margin-top: 45px;
        width: 305px;
        height: 100px; 
        margin-right: 5px;
    }

    .pre-evolution{
        width: 160px;
        height: 40px;
    }

    .evolution{
        width: 160px;
        height: 40px;
    }

    .titleEvo{
        width: 309px;
        height: 30px;
        border: 2px solid blue; 
    }

    .evo{
        width: 309px;
        border: 2px solid blue;
        transform: translateY(-2px);
    }
    
}

@media (max-width:445px){
    .subButtonMenu{
        width: 285px;
        height: 95px;
        font-size: 12px;
    }
    .subButtonMenu li p{
        padding: 4px;
    }

    .subBtnMenu{
        width: 285px;
        height: 80px;   
    }
    #subBtnTypes > li {
        margin-top: 5px;
        margin-left: 1px;
        width: 42px;
        height: 18px;
        font-size: 12px;
    }
    #subBtnTypes  li p{
        width: 42px;
        height: 18px;
    }
    #subBtnWeak > li {
        margin-top: 5px;
        margin-left: 1px;
        width: 42px;
        height: 18px;
        font-size: 12px;
    }
    .subButtonOrder{
        width: 285px;
        font-size: 12px;
        height: 48px;
    }
    #subBtnOrder >li {
        margin-top: 5px;
        margin-left: 1px;
        width: 42px;
        height: 18px;
        font-size: 12px;
    }
    .subButtonOrder li p{
        padding: 4px;
    }
    #subBtnOrder{
        height: 30px;
    }


 
}

@media (max-width:405px){
   .containerInfoCard{  
        font-size:12px ;
        width: 285px;
        height: 480px;
    }

    .close{
        left: 118px; 
        font-size: 13px;
    }

    h2{
        font-size:18px ;
    }

    .template_nameId{
        width: 255px;
        height: 20px;
    }

    .template_image{
        width: 260px;
        height: 110px;
    }

    .tempTitleType{
        font-size: 15px;
    }

    .tempType{
        font-size: 18px;
    }

    .template_imagePokemon{
        width: 110px;
        height: 110px;
    }

    .template-type{
        align-items: center;
        width: 255px;
        height: 20px;
        margin-bottom: 0;
    }
    
   .template_traits{
        margin-bottom: 2px;
        margin-top: 10px;
        font-size: 15px;
    } 

    .traits{        
        width: 108px;
        height: 146.5px;
        bottom: 3px;  
        margin-left: 5px; 
    }

    .multiWeak{
        margin-right: 0;
    }

    .multipliers{
        width: 133px;
        height: 73px;    
    }

    .weaknesses{
        width: 127px;
        height: 67px;
        font-size: 14px;  
        bottom: 3px;  
    }
    .evolutions{
        width:255px;  
        height: 80px; 
        margin-top: 55px;  
    }
    .titleEvo{
        width:255px;
        height: 20px;
        border: 2px solid blue; 
    }  
    .evo{
        width: 255px;
        padding-top: 5px;
        font-size: 15px;
    }
    .pre-evolution{
        width: 127.5px;
        height: 30px;
    }
    .evolution{
        width: 127.5px;
        height: 30px;
    }
}

@media (max-width:380px){
    .socialMedia{
        margin-left: 0;
    }

    .pokemonContainer{  
        margin-top: 310px; 
    }

    .evo{
        width: 255px;
        height: 45px;
    }

    .traits{
        height: 147.5px;
    }

    .pre-evolution{
        width: 127.5px;
        height: 45px;
    }

    .evolution{
        width: 127.5px;
        height: 45px;
    }
}
   
