* {
    margin: 0;
    padding: 0;
}

body {
    color: #F2E5D6;
    font-family: 'Merriweather';
    text-align: center;
}

main {
    background: url(images/lolBg.jpg);
    background-position: top;
}

/*--------- Estilos Header ---------*/
header {
    background: url(images/lolBgHeaderV2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: right;
    width: 100%;
}

.logo-Lol {
    width: 25%;
    height: 25%;
    padding: 5% 5% 2% 0;
}

.polygon-title-border {
    width: 100%;
    clip-path: polygon(0 0, 10% 0, 20% 40%, 80% 40%, 90% 0, 100% 0, 100% 100%, 0 100%);
    background-color: #cb954a;
}

.polygon-title {
    width: 100%;
    position: inherit;
    clip-path: polygon(0 4%, 10% 4%, 20% 44%, 80% 44%, 90% 4%, 100% 4%, 100% 96%, 0 96%);
    background-color: #0F151D;
}

.polygon-title h1 {
    font-family:'PT Serif';
    font-size: 1.6em;
    text-align: center;
    padding: 8% 0 1% 0;
}

.search-filter-desktop {
  display: none;
}

/*--------- Estilos Search + Filter ---------*/
.search-filter {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: rgba(242, 229, 214, 0.16);
    border-bottom: 2px solid #523D24;
    padding: 2% 0; 
}

.filter-input{
    background-color: transparent;
    border-style: none;
    width: 30%;
    font-family: 'Merriweather';
    color: #E9CA7B;
    font-size: 1em; /*[--> FALTA FONT-SIZE OPTION]*/
}

.search-input {
    width: 25%;
    border-style: solid;
    /*background-color: rgba(255, 255, 255, 0.3);*/
    background-color: transparent;
    border: 2px solid #523D24;
    border-radius: 5px;
}

.search-input::placeholder {
    font-family: 'Merriweather';
    color: #E9CA7B;
    font-size: 1em;
    padding: 0 10%;
}

/*--------- Estilos Section Champions + Cards ---------*/
.card-champions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5% 0 15% 0;
}

.card {
    display: flex;
    align-items: flex-end; 
    width:150px; 
    min-height:200px;
    margin-bottom: 5%;
    border: 3px solid #CB954A;
    background-position: center;
    background-size: cover;
}

.name-title-container {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0)50%);
}
 
.name-title-container h2 {
    font-family: 'PT Serif';
    font-size: 1.3em;
    text-shadow: 1.3px 1.3px #523D24;
    padding-bottom: 2%;
}
 
.name-title-container p {
    font-size: 0.8em;
    padding-bottom: 5%;
}

/*--------- Estilos Footer ---------*/
#nav-mobile-tablet ul{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height:9%;
    list-style-type:none;
    background-color:#0F151D;
    border-top: solid #cb954a; 
}

#nav-mobile-tablet li {font-size: 0.6em;}

#nav-mobile-tablet img {
    width: 40%;
    height: 40%;
}