*{
    margin: 0;
    padding: 0;
    font-family: 'Patrick Hand', cursive;  
    word-break: break-all;
}
/* .container{
    display: flex;
    height: 100vh;
    font-size: 2rem;
  } */

  .imagenTop {
    border-bottom-left-radius: 30px;
    -moz-border-radius-bottomleft: 30px;
    -webkit-border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    -moz-border-radius-bottomright: 30px;
    -webkit-border-bottom-right-radius: 30px;
  }

  .contenedorUno {
    margin: 0;
    padding: 0;
    background-color: #BBDA94;
    width: 100%;
}
.titulo {
    align-items: center;
    font-size: 4em;
}


  .imagenUno {
      margin: 0;
      padding: 0;
      max-width: 100%;
  }

  .grid {
    background-color: #FC9B57;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
    justify-content: space-around;
    
  }

.personajes1 {
    align-items: center;
    background-color: #F48134;
    box-shadow: #D8702A;
    color: white;
    display: flex;
    height: 200px;
    width: 200px;  
    justify-content: center;
    border-radius: 2em;
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 1em;
    box-sizing: border-box; 
    margin: 1em;
    border: 0;
    flex-direction: column
}
.nombres {
    font-size: 1.5em;
    margin-top: 0.5em ;
    word-break: break-word;
    text-size-adjust: auto;
}
/*
.mascara {
    width: 70%;
    overflow: hidden;
}

.mascara image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

} */
.image {
    margin-top: -10px; 
    width: 70% ; 
    border-radius: 1em;
    text-size-adjust: auto;
    clip-path: polygon(48% 100%, 45% 100%, 43% 100%, 39% 100%, 35% 100%, 31% 100%, 26% 99%, 22% 99%, 18% 98%, 15% 97%, 12% 96%, 9% 96%, 7% 93%, 5% 90%, 4% 86%, 2% 83%, 2% 79%, 1% 75%, 1% 71%, 1% 66%, 2% 63%, 2% 59%, 3% 55%, 4% 51%, 5% 48%, 7% 44%, 9% 41%, 10% 39%, 12% 36%, 15% 32%, 17% 27%, 20% 24%, 22% 20%, 24% 17%, 27% 13%, 29% 10%, 32% 7%, 34% 4%, 38% 4%, 41% 3%, 44% 3%, 47% 3%, 51% 4%, 55% 4%, 57% 6%, 60% 8%, 62% 9%, 65% 12%, 67% 14%, 69% 16%, 71% 19%, 73% 20%, 75% 23%, 76% 25%, 78% 27%, 79% 29%, 81% 31%, 83% 34%, 85% 36%, 86% 38%, 88% 40%, 89% 41%, 91% 44%, 93% 46%, 95% 50%, 97% 53%, 98% 55%, 98% 57%, 98% 61%, 98% 65%, 97% 69%, 96% 71%, 95% 76%, 95% 80%, 94% 83%, 93% 86%, 92% 89%, 90% 93%, 89% 95%, 88% 96%, 86% 97%, 84% 98%, 81% 99%, 80% 99%, 76% 100%);
}
.root {
    background-color: rgb(159, 190, 115);

}

.Sinopsis {

    font-size: 2em;
}

/* Computador  */
@media   (min-width: 780px) and (max-width: 1024px){};

/* Tablet */
@media   (min-width: 480px) and (max-width: 780px) {};

/* Celular */
@media   (max-width: 480px){

    .personajes1 {

        background-color: darkorange;
        border-radius: 2em;
    }
};