*{
    margin: 0;
    padding: 0;
    font-family: 'Patrick Hand', cursive;  
    word-break: break-all;
}
/* .container{
    display: flex;
    height: 100vh;
    font-size: 2rem;
  } */
  .contenedorUno {
    margin: 0;
    padding: 0;
    background-color: #BBDA94;
    width: 100%;
}
.titulo {
    align-items: center;
    font-size: 4em;
}


  .imagenUno {
      margin: 0;
      padding: 0;
      max-width: 100%;
  }

  .grid {
    background-color: #FC9B57;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
    justify-content: space-around;
    
  }

.personajes1 {
    align-items: center;
    background-color: #F48134;
    box-shadow: #D8702A;
    color: white;
    display: flex;
    height: 150px;
    width: 150px;  
    justify-content: center;
    border-radius: 2em;
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 1em;
    box-sizing: border-box; 
    margin: 1em;
    font-size: 1em;
    border: 0;
    flex-direction: column
}
.nombres {
    word-break: break-word;
}

.image {
    width: 70% ; 
    border-radius: 1em;

}
.root {
    background-color: rgb(159, 190, 115);

}

.Sinopsis {

    font-size: 2em;
}

/* Computador  */
@media   (min-width: 780px) and (max-width: 1024px){};

/* Tablet */
@media   (min-width: 480px) and (max-width: 780px) {};

/* Celular */
@media   (max-width: 480px){

    .personajes1 {

        background-color: darkorange;
        border-radius: 2em;
    }
};