*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0; 
    padding: 0;
}

html, body{
    font-family: 'Cabin', sans-serif;
    height: 100%;
    width: 100%;
    text-align: center;
    background-image: url("fondo.jpg");
    background-position: cover;
}

.navegation{
    background: #f1f1e6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5vh;
    width: 100%;
    align-items: center;
    
}

.navegation  ul{
    float: left;
    margin-left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba( 3, 8, 46, 0.8);
    top: 37px;
    left: 0;
    color: #f1f1e6;
    transition: all .5s;
    transform: translateX(-100%);
}

.navegation ul li{
    display: block;
    margin: 50px 0;
    font-size: 20px;
    
}

.navegation ul li:hover{
    background: #00C6C7;
    width: 100%;
    margin-left: 0;
}

.checkbtn{
    font-size: 30px;
    color: #A99797;
    float: left;
    line-height: 30px;
    margin-left: 20px;
    cursor: pointer;
    display: block;
}

#check{
    display: none;
}

#check:checked ~ ul{
    transform: translateX(0%);
}

.search{
    margin-top: 2px;
    float: right;
    margin-right: 5px;
    width: 25%;
}

.titleContainer{
    display: flex;
    width: 100%;
    height: 89.3vh;
    justify-content: center;
    flex-direction: column;
    
}

.itemTitle1{
    color: white;
    align-self: center;
    font-size: 24px;
    margin-left: -140px;
}

.itemTitle2{
    color: white;
    align-self: center;
    font-size: 36px;
    margin-top: -15px;
    margin-bottom: 10px;
    /* text-shadow: 10px 10px 42px 3px rgba(0,0,0,0.35); */
}

.explore{
    background-color:#00c6c7;
    flex-direction: column;
    align-self: center;
    padding: 10px;
    width:100px;
    border-style: none;
}

.explore:hover{
    background-color: darkslateblue;
    color: white;
}

.footerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    background-color:#f1f1e6;
    margin-bottom: 0px;
    padding: 3px;
}

.download{
    background-color:#00c6c7;
    border-style: none;
    padding: 9px;
    cursor: pointer;
}

.download:hover{
    background-color: darkslateblue;
    color: white;

}

.footerContainer p{
    font-size: 14px;

}

.social{
    width: 100px;   
}

.footerContainer img{
    opacity: 0.8;
    width: 30px;

}




