*{
    margin: 0;
    padding: 0;
    
    /*scrollbar-face-color: #6685CA;

    scrollbar-highlight-color: #6685CA;

    scrollbar-shadow-color: #6685CA;

    scrollbar-3dlight-color:#FFFFFF;

    scrollbar-arrow-color:#FFFFFF;

    scrollbar-track-color:#E5E5E5;*/


}
header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    height: 250px;
    top:0;
    background:linear-gradient(180deg, 
    rgba(44, 73, 153, 0.89) 0%,
    rgba(255, 255, 255, 0.89) 0.01%,
    rgba(73, 211, 137, 0.2136) 0.02%,
    rgba(55, 171, 153, 0.484205) 28.13%,
    rgba(7, 61, 200, 0.445) 58.85%,
    rgba(200, 18, 7, 0.4717) 100%), url(./images/transparency2.png);
    background-size: cover;
    background-repeat:no-repeat;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    z-index: 2;
}
.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logocontainer{
    margin-left: 100px;
    margin-bottom: 50px;
}
#logo{
    width: 310px;
    height: 145px;
}
.inputSearch{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
    margin-bottom: 50px;
    max-height: 117px;
    width: 210px;
}
.input{
    width: 200px;
    height: 30px;
    background: #F2F2F2;
    mix-blend-mode: normal;
    border: 3px solid #2C4999;
    box-sizing: border-box;
    border-radius: 25px;
    text-align: center;
}
.search{
    background: url(./images/search.png);
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 50px;
    border: none;
    margin-bottom: 10px;
}
.mensaje{
    top: 5px;
    color: rgba(15, 15, 97, 0.986);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background: linear-gradient(180deg,
    #2C4999 0%,
    rgba(7, 14, 33, 0.91) 83.33%);
}
.socialMedia{
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    margin-right: 30px;
}
.media :hover{
    background: #a89009;
    transition: all .3s;  
}
.media{
    width:45px;
    height: 45px;
    margin-right: 30px;
    color: #F1CE00;
    cursor: pointer;
}
.containerPokeMenu{
    margin-left: 20px;
    height: 36px;
    width: 400px;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    cursor: pointer;
    height: 36px;    
}
.menu > li{
    width: 90px;
    list-style: none;
}
.buttonMenu{
    display: block;
    text-align: center;
    width: 90px;
    padding: 4.5px;
    margin-right: 30px;
    background: #F1CE00;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color:rgba(11, 26, 65, 0.91);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px 10px 10px 10px;
}
.buttonMenu:hover {
    background: #a89009;
    transition: all .3s;  
}

.subButtonMenu{
    display: block;
    /*display:none;*/
    list-style: none;
    background:#3d3c30e8;
    color: blanchedalmond;
    /*opacity: 0;
    transition: opacity 1s;*/
    margin-top: 5px;
    border-radius: 10px 10px 10px 10px;
    width: 570px;
    height: 128px;
    padding-left: 20px;
    overflow-y: scroll;
}
.subButtonMenu li p{
    color: blanchedalmond;
    text-decoration: none;
}
/*.menu .buttonMenu:hover .subButtonMenu{
    display: block;
    opacity: 1;
}*/
/*.menu :hover .subButtonOrder{
    display: block;
    opacity: 1;
}*/

.subBtnMenu{
    display: block;
    width: 550px;
    height: 145px;
    background: linear-gradient(180deg,
    #2C4999 0%,
    rgba(7, 14, 33, 0.91) 83.33%);
    border-radius: 10px 10px 10px 10px;    
}
.subButtonOrder{
    /*display:none;*/
    display:block;
    list-style: none;
    background:#3d3c30e8;
    color: blanchedalmond;
    /*opacity: 0;
    transition: opacity 1s;*/
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px;
    width: 570px;
    height: 80px;
    padding-left: 20px;
}
#subBtnOrder >li {
    text-align: center;
    text-decoration: none;
    list-style: none;
    border:1px #F1CE00 solid;
    background: #171716;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;
    margin-top: 8px;
    margin-left: 5px;
    width:80px ;
    height:30px ;
}
.subButtonOrder li p{
    color: blanchedalmond;
    text-decoration: none;
}
#subBtnOrder{
    height:50px;
}
/*.showOrder{
    height:50px;
    width: 550px;
}*/
/*#subBtnTypes{
    visibility: hidden;
    height: 0;
}*/
/*#subBtnWeak{
    visibility: hidden;
    height: 0;
}*/

#subBtnTypes > li {
    text-align: center;
    text-decoration: none;
    list-style: none;
    border:1px #F1CE00 solid;
    background: #171716;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;
    margin-top: 14px;
    margin-left: 5px;
    width:80px ;
    height:30px ;

}
#subBtnTypes  li p{
    color:whitesmoke; 
    width:80px ;
    height:30px ;

}
#subBtnWeak > li {
    text-align: center;
    text-decoration: none;
    list-style: none;
    border:1px #F1CE00 solid;
    background: #171716;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;
    margin-top: 14px;
    margin-left: 5px;
    width:80px ;
    height:30px ;

}
#subBtnWeak  li p{
    color:whitesmoke; 
}
/*.subButtonMenu{
    overflow-y: scroll;
    scrollbar-color: yellow purple;
}*/
.showSubMenu{
    display: block;
    flex-direction: column;
    margin-left: 5px; 
    height: 0;
    transition: height .3s linear;
    overflow: hidden;
    cursor: pointer; 
}
.appearTwo{
    height: 900px;
    width: 600px;
}
.showAbout{
    display: block;
    flex-direction: column;
    margin-left: 5px; 
    height: 0;
    transition: height .3s linear;
    overflow: hidden;
    cursor: pointer; 
}
.about {
    display: block;
    list-style: none;
    background:#3d3c30e8;
    color: blanchedalmond;
    /*opacity: 0;
    transition: opacity 1s;*/
    margin-top: 5px;
    border-radius: 10px 10px 10px 10px;
    width: 475px;
    height: 150px;
    padding-left: 20px;
    overflow-y: scroll;
}
.appearThree{
    height: 500px;
    width: 500px;
}
/*.menu :hover .about{
    display: block;
    opacity: 1;
}*/


.subAbout {
    display: block;
    list-style: none;
    width: 455px;
    height: 160px;
    background: linear-gradient(180deg,
    #2C4999 0%,
    rgba(7, 14, 33, 0.91) 83.33%);
    border-radius: 10px 10px 10px 10px; 
}
.subAbout li p{
    text-decoration: none;
    color: blanchedalmond;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    height: 160px;
}
.showContact{
    display: block;
    height: 0;
    transition: height .3s linear;
    overflow: hidden;
    cursor: pointer; 
}
.contact{
    display: block;
    list-style: none;
    background:#3d3c30e8;
    color: blanchedalmond;
    /*opacity: 0;
    transition: opacity 1s;*/
    margin-top: 5px;
    border-radius: 10px 10px 10px 10px;
    width: 280px;
    height: 85px;
    padding-left: 20px;
    padding-top: 20px;   
}
.appearFour{
    height:150px; 
    width: 355px;
}

/*.menu :hover .contact{
    display: block;
    opacity: 1;
}*/
.contact > li {
    height: 70px;
    width: 280px;
}
.subContact{
    display: block;
    list-style: none;
    width: 280px;
    height: 80px;
    background: linear-gradient(180deg,
    #2C4999 0%,
    rgba(7, 14, 33, 0.91) 83.33%);
    border-radius: 10px 10px 10px 10px; 
    padding-top: 5px;
}
.subContact > li{   
    text-align: center; 
    border:1px #F1CE00 solid;
    background: #171716;
    border-radius: 10px 10px 10px 10px;
    padding-bottom: 7px;
    margin-left: 15px;
    margin-top: 5px;
    width: 250px;
    height: 20px;
}
.subContact li p{
    list-style: none;
    text-decoration: none;
    color: blanchedalmond;
   
};

