*{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background :  linear-gradient(180deg,
    rgba(211, 208, 208, 0.514) 50%, 
    rgba(211, 208, 208, 0.514) 50%), url(./images/pokemon_background_4-minzzz.jpg);
    background-size: 100%;
    font-family: 'Patrick Hand', cursive;
    margin: 0;  
}
.pokemonContainer{  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: row;
    max-width: 1000px;
    margin-top: 300px;
    padding-bottom: 100px;   
}

.pokemonsCard{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 3px solid blue;
    border-radius: 12px 12px 12px 12px;
    margin-top: 40px;
    max-width: 100%;
    width: 200px;
    height: 200px;
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 1);      
}

.pokemonName{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: black;
    background-color: #389ac8e1;
    background-size: 100%;
    border-bottom: 3px solid blue;
    border-radius: 12px 12px 0px 0px;
    height: 32px;
    font-weight: bold;
    font-size: 20px; 
}

h2{
    font-weight: bold;
    font-size: 20px;
    margin: auto;
}

.h2Title{
    margin: 0;
}

.pokemonsNumber{
    color: black;
    font-size: 15px;
    margin: auto;
}

.pokemonImage{
    width: 120px;
    height: 120px;
    margin-top: 0;
    margin: auto;
}

.pokemonTypeStyle{
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    font-size: 18px;
    background-color: #F1CE00;
    border-top: 3px solid blue;
    border-radius: 0px 0px 12px 12px;
    height: 32px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height:60px;
    background-size: 100%;
    background: linear-gradient(180deg,
    rgba(7, 14, 33, 0.91) 16.67%, 
    #2C4999 100%), url(./images/pokemonBackgroundWhite.jpg);
    background-size: cover;
    position: fixed;
    width: 100%;
    margin-top: 100px;
    z-index: 3;
    bottom: 0;
    left: 0;
}

.copyright{
    font-family: 'Patrick Hand', cursive;
    color: honeydew;
    font-size: 15px;
    text-align: center;
}

.containerInfoCard{
    border:3px solid blue;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
    margin-top: 320px;
    margin-bottom: 90px;
    width: 635px;
    height: 340px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    background-color: cornsilk;
    font-size: 16.5px;
}
.close{
    position: relative;
    left: 485px; 
    width: 25px;
    height: 25px;
    font-family: Arial;
    font-weight: bold;
    display: inline-block;
    color: white;
    cursor:pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 50%;
    background-color: blue;
}

.closeTemplate{
    display : none;
}

.template_image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px; 
    margin-left: 5px;
}

.template_imagePokemon{
    width: 185px;
    height: 185px;
}

.template_nameId{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: baseline;
    border: 2px solid blue;
    border-radius: 12px 12px 0px 0px;
    background-color: #389ac8e1;
    font-size:20px ;
    height: 35px;
    width: 215px;
    margin-left: 5px;
}

.tempNum{
    font-size: 15px;
    margin: auto;
}

.tempName{
    margin: auto;
}

.template-type{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    align-items: baseline;
    background-color: #F1CE00;
    border: 2px solid blue;
    border-radius: 0px 0px 12px 12px;
    font-size:20px ;
    height: 35px;
    width: 215px;
    margin-left: 5px;
}

.tempTitleType{
    font-size: 18px;
}

.template_traits{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 30px;
    z-index: 1;
    margin-right: 10px;
}

.traits{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    float: right;
    border: 2px solid blue;
    border-radius: 12px 0px 0px 12px;
    width: 175px;
    height: 166px;
    padding-left: 10px;
    border-right: 0;
    transform: translateX(2px)
}

.multiWeak{
    word-wrap: break-word;
    hyphens: auto;
    width: 175px;
}

.multipliers{
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    align-items: center;
    justify-content: center;
    border: 2px solid blue;
    border-radius: 0px 12px 0px 0px;
    width: 175px;
    height: 80px;
    border-bottom: 0;
    transform: translateY(0.8px)
}

.weaknesses{
    border: 2px solid blue;
    border-radius: 0px 0px 12px 0px;
    width: 169px;
    height: 80px;
    padding: 3px;
    transform: translateY(-1.8px);
}

.titleWeaknesses{
    text-align: center;
}

.evolutions{
    display: flex;
    flex-direction: column;
    width: 368px; 
    margin-right: 5px; 
}

.titleEvo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid blue; 
    width: 364px;
    border-radius: 12px 12px 0px 0px;
    border-bottom: 0;
    background: rgb(236, 144, 4);
}

.evo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid blue; 
    border-radius:  0px 0px 12px 12px;
    transform: translateY(-2px); 
    height: 60px;  
}

.pre-evolution{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.evolution{
    display: flex;
    flex-direction: column;
    align-items: center;
}