*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0; 
    padding: 0;
}

html, body{
    font-family: 'Cabin', sans-serif;
    height: 100%;
    width: 100%;
    text-align: center;
}

.navegation{
    background: #f1f1e6;
    height: 35px;
    width: 100%;
    z-index: 100;
}

.navegation  ul{
    float: left;
    margin-left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba( 3, 8, 46, 0.8);
    top: 35px;
    left: 0;
    color: #f1f1e6;
    transition: all .5s;
    transform: translateX(-100%);
}

.navegation ul li{
    display: block;
    line-height: 35px;
    margin: 50px 0;
    font-size: 16px;
    line-height: 30px;
}

.navegation ul li:hover{
    background: #00C6C7;
    width: 100%;
    margin-left: 0;
}

.checkbtn{
    font-size: 30px;
    color: #A99797;
    float: left;
    line-height: 30px;
    margin-left: 20px;
    cursor: pointer;
    display: block;
}

#check{
    display: none;
}

#check:checked ~ ul{
    transform: translateX(0%);
}

.search{
    margin-top: 5px;
    float: right;
    margin-right: 8px;
    width: 25%;
}

.social{
    background-color: #f1f1e6;
    height: 35px;
}

.row::before, .row::after{
    content: "";
    display: table;
    clear: both;

}
[class*="col-"] {
    float: left;
    padding: 12px;
    border: 1px solid black;
    min-height: 7px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
